@import "compass";

// Reset --------------------------------------------------------------------
@import "h5bp";
@include h5bp-display;
@include h5bp-base;
@include h5bp-links;
@include h5bp-typography;
@include h5bp-lists;
@include h5bp-embeds;
@include h5bp-figures;
@include h5bp-forms;
@include h5bp-tables;

// Chrome Frame --------------------------------------------------------------
@include h5bp-chromeframe;

// HTML5 BP Print Styles -----------------------------------------------------
@include h5bp-media;

$width: 760px;
$color: #1e94a6;

@include font-face("FunctionPro Light", font-files("functionpro_light/FunctionPro-Light-webfont.woff", "functionpro_light/FunctionPro-Light-webfont.ttf", "functionpro_light/FunctionPro-Light-webfont.svg"), "functionpro_light/FunctionPro-Light-webfont.eot");
@include font-face("FunctionPro Book", font-files("functionpro_book/FunctionPro-Book-webfont.woff", "functionpro_book/FunctionPro-Book-webfont.ttf", "functionpro_book/FunctionPro-Book-webfont.svg"), "functionpro_book/FunctionPro-Book-webfont.eot");

body{
	font-family: "FunctionPro Light", helvetica, arial, sans-serif;
	font-size: 16px;
	line-height: 21px;
	background: #f7f7f7;
}

a:link, a:visited{
	color: $color;
}
a:hover{
	text-decoration: none;
}

header{
	width: $width;
	margin: 0 auto;
	border-top: 4px solid $color;
	padding-top: 50px;
	.logo{
		width: 160px;
		height: 159px;
		float: left;
		@include transition(transform 0.75s ease-out);
		&:hover{
			@include transform(rotate(720deg) scale(1));
		}
	}
	h1{
		padding-top: 60px;
		clear: both;
		text-align: center;
		font-weight: normal;
		font-size: 24px;
		span{
			font-family: "FunctionPro Book", helvetica, arial, sans-serif;
		}
	}
}

.cuando{
		width: 240px;
		margin-right: 60px;
		float: left;
		text-align: right;
		padding: 62px 0;
		span{
			display: block;
			line-height: 16px;
		}
		.hora{
			margin-top: 4px;
			color: lighten(#000, 60%);
		}
	}
	.donde{
		margin-left: 60px;
		width: 240px;
		float: left;
		padding: 62px 0;
		span{
			display: block;
			line-height: 16px;
		}
		.ciudad{
			margin-top: 4px;
			color: lighten(#000, 60%);
		}
	}

.content{
	width: 760px;
	margin: 70px auto;
}

.charlas{
	padding: 0;
	@include clearfix;
	li{
		width: 340px;
		list-style: none;
		float: left;
		&:first-child{
			margin-right: 80px;
		}
	}
	h3{
		font-size: 20px;
		line-height: 26px;
		font-family: "FunctionPro Book", helvetica, arial, sans-serif;
		font-weight: normal;
		margin: 20px 0 10px;
	}
	p{
		margin: 0;
		color: lighten(#000, 50%);
	}
}

.speaker{
	position: relative;
	width: 340px;
	height: 220px;
	overflow: hidden;
	&:after{
		content: "";
		position: absolute;
		bottom: -30px;
		right: -30px;
		width: 60px;
		height: 60px;
		@include border-radius(30px);
		background: #f7f7f7;
		z-index: 9;
	}
	img{
		position: absolute;
		top: 0;
		left: 0;
	}
	.name{
		display: inline-block;
		position: absolute;
		top: 10px;
		left: 10px;
		z-index: 10;
		color: #fff;
		background: #000;
		padding: 5px 10px;
	}
	a.twitter{
		position: absolute;
		bottom: 5px;
		right: 1px;
		z-index: 10;
		background: image-url('twitter.png') no-repeat;
		width: 21px;
		height: 13px;
		text-indent: -9999px;
		@include transition(background-position 0.15s ease-out);
		&:hover{
			background-position: 0 -13px;
		}
	}
}

.action-wrapper{
	background: #fff;
	border-top: 1px solid darken(#fff, 5%);
	border-bottom: 1px solid darken(#fff, 5%);
}

.action{
	@include clearfix;
	width: 760px;
	margin: 0 auto;
	padding: 60px 0;
	a{
		display: block;
		text-align: center;
		background: $color;
		color: white;
		@include border-radius(20px);
		width: 140px;
		padding: 10px;
		text-decoration: none;
		font-size: 20px;
		line-height: 20px;
		font-weight: normal;
		float: left;
		@include transition(all 0.3s ease-out);
		&:hover{
			background: #000;
			@include transform(scale(1.05));

		}
	}
	.cuando, .donde{
		padding: 0;
		margin-top: 2px;
	}
}

footer{
	margin: 40px 0 20px;
}
.sponsor{
	text-align: center;
	a{
		display: inline-block;
		width: 120px;
		height: 41px;
		background: image-url("olapic.png") no-repeat;
		text-indent: -9999px;
	}
}

.copyright{
	font-size: 14px;
	text-align: center;
	margin-top: 70px;
	color: lighten(#000, 60%);
}
